.home {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.home a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}
.home p {
  color: #545454;
}
.home a:hover {
  color: #ff6f61 !important;
}

.multi-card-carousel .carousel-inner {
  padding: 1rem;
}

.multi-card-carousel .carousel-item {
  transition: transform 0.8s ease-in-out;
}

.multi-card-carousel .card {
  border: none;
}
.multi-card-carousel .card .card-img-top {
  object-fit: cover;
  height: 360px;
  border-radius: 16px;
  transition: all 0.5s ease;
}
.multi-card-carousel .card .card-img-top:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.multi-card-carousel .card .card-body p{
  font-weight: 600;
  color: black;
}
.carousel-control-prev,
.carousel-control-next {
  width: 44px;
  height: 44px;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  background-color: black;
  color: white;
  transition: all 0.2s linear;
  top: 35%;
}
.carousel-control-prev:hover {
  background-color: black;
  color: white;
}
.carousel-control-next:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
}

.home .policy {
  font-size: 15px;
  padding: 32px 0;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
.home .policy .iconfont {
  font-size: 30px;
  color: #545454;
  margin-bottom: 20px;
  display: inline-block;
  border: 1px solid #ebebeb;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
}

@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1744708599260") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e6af";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-gouwu:before {
  content: "\e7b1";
}

.icon-dizhi:before {
  content: "\e652";
}

.icon-cubelifangti:before {
  content: "\e6fc";
}

.icon-account:before {
  content: "\e6a3";
}

.icon-facebook:before {
  content: "\e725";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-instagram:before {
  content: "\e87f";
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-dacha:before {
  content: "\e711";
}

.icon-Chat:before {
  content: "\e60b";
}

.icon-dianhua:before {
  content: "\e60e";
}

.icon-jiantou:before {
  content: "\e631";
}

.icon-youxaing:before {
  content: "\e676";
}

.icon-huishou:before {
  content: "\e60c";
}

.icon-tuite:before {
  content: "\e527";
}
