@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1744686715162') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwu:before {
  content: "\e7b1";
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-liebiao_o:before {
  content: "\eb7c";
}

.icon-dacha:before {
  content: "\e711";
}

