.collections {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
.collections a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}
.collections p {
  color: #545454;
}
.collections a:hover {
  color: #ff6f61 !important;
}

.collections .introduce {
  margin-bottom: 60px;
}
.collections .introduce .introduce-title {
  font-weight: 600;
  font-size: 36px;
}
.collections .introduce button {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  border: 1px solid black;
  background-color: white;
  outline: none;
  border-radius: 99px;
  padding: 13px 32px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}
.collections .introduce button:hover {
  background-color: black;
  color: white;
}
.collections .introduce a {
  color: #ff6f61;
  text-decoration: underline;
}

.collections .body .custom-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding-bottom: 40px;
}
.collections .body img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.collections .body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.collections .body .card-bottom {
  padding: 18px 10px;
  font-weight: 600;
}
.collections .body .card-title {
  display: inline-block;
  margin-bottom: 10px;
}

@font-face {
  font-family: Poppins;
  src: url("Poppins-Regular.ttf");
}

@media screen and (max-width: 1200px) {
  .collections .body .custom-card {
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 992px) {
  .collections .introduce button {
    padding: 10px 24px;
  } 
  .collections .body .custom-card {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .collections {
    font-size: 14px;
  }
  .collections .introduce .introduce-title {
    font-size: 24px;
  }
  .collections .introduce button {
    padding: 8px 20px;
  }

  .collections .body .card-bottom {
    padding: 15px 10px;
  }
}
